.shop-container{
    width: 90%;
    margin: auto;
   
    display: flex;
   
}
.product-container{
 width: 70%;
 border-right: 1px solid lightgray;


 
}
.review-container{
  text-align: center;
  padding-left:10%;
}